Repository Przemoo16/project-starter-graphql: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend, infrastructure, frontend, e2e

backend:
  name: backend
  entry: docker compose run --no-TTY --rm --no-deps backend mypy .
  language: system
  require_serial: true
  pass_filenames: false

infrastructure:
  name: infrastructure
  entry: ./infrastructure/venv/bin/python -m mypy
  language: system
  require_serial: true

frontend:
  name: frontend
  entry: docker compose run --no-TTY --rm --no-deps frontend yarn run lint
  language: system
  require_serial: true
  pass_filenames: false

e2e:
  name: e2e
  entry: docker compose -f compose.e2e.yaml run --no-TTY --rm --no-deps e2e yarn run lint
  language: system
  require_serial: true
  pass_filenames: false

Style account settings
  frontend/i18n/en-US/account.json
  frontend/i18n/en-US/app.json
  frontend/i18n/en-US/changePassword.json
  frontend/i18n/en-US/deleteAccount.json
  frontend/i18n/en-US/updateAccount.json
  frontend/src/components/auth/change-password-form/change-password-form.tsx
  frontend/src/components/auth/login-form/login-form.tsx
  frontend/src/components/auth/recover-password-form/recover-password-form.tsx
  frontend/src/components/auth/register-form/register-form.tsx
  frontend/src/components/common/form-body/form-body.tsx
  frontend/src/components/common/loading-button/loading-button.test.tsx
  frontend/src/components/common/loading-button/loading-button.tsx
  frontend/src/components/common/submit-button/submit-button.tsx
  frontend/src/components/protected/change-password-form/change-password-form.test.tsx
  frontend/src/components/protected/change-password-form/change-password-form.tsx
  frontend/src/components/protected/delete-account-modal/delete-account-modal.tsx
  frontend/src/components/protected/header/header.tsx
  frontend/src/components/protected/settings-section/settings-section.tsx
  frontend/src/components/protected/update-account-form/update-account-form.test.tsx
  frontend/src/components/protected/update-account-form/update-account-form.tsx
  frontend/src/routes/(auth)/(anonymous-only)/register/index.tsx
  frontend/src/routes/(protected)/account/index.tsx
Due: frontend

Update deps
  .github/dependabot.yml
  backend/poetry.lock
  backend/pyproject.toml
  e2e/package.json
  e2e/yarn.lock
  frontend/package.json
  frontend/src/speak-functions.ts
  frontend/yarn.lock
Due: frontend

Small frontend improvements
  frontend/i18n/en-US/account.json
  frontend/src/components/common/submit-button/submit-button.tsx
  frontend/src/components/protected/edit-profile-form/edit-profile-form.test.tsx
  frontend/src/components/protected/edit-profile-form/edit-profile-form.tsx
  frontend/src/routes/(anonymous)/404.tsx
  frontend/src/routes/(anonymous)/layout.tsx
  frontend/src/routes/(protected)/account/index.tsx
  frontend/src/routes/(protected)/layout.tsx
  frontend/src/routes/layout.tsx
Due: frontend

Add space
  frontend/src/components/common/text-input/text-input.tsx
Due: frontend

Simplify returns
  frontend/src/components/protected/edit-profile-form/edit-profile-form.test.tsx
  frontend/src/libs/api/send-graphql-authenticated-request.test.ts
  frontend/src/libs/api/send-graphql-authenticated-request.ts
  frontend/src/libs/auth/is-authenticated.ts
  frontend/src/libs/storage/browser-storage.ts
  frontend/src/routes/(auth)/confirm-email/index.tsx
  frontend/src/routes/(protected)/account/index.tsx
  frontend/src/tests/storage.ts
Due: frontend

Upgrade sharp
  frontend/.yarnrc.yml
  frontend/adapters/node-server/vite.config.ts
  frontend/yarn.lock
Due: frontend

Change type to module
  e2e/package.json
  e2e/tsconfig.json
  frontend/.dockerignore
  frontend/package.json
  frontend/postcss.config.cjs
  frontend/tailwind.config.js
  frontend/tailwind.config.ts
  frontend/tsconfig.json
Due: frontend

Remove secret types
  backend/backend/config/db.py
  backend/backend/config/email.py
  backend/backend/services/user/operations/auth.py
  backend/backend/services/user/operations/password.py
  backend/backend/services/user/operations/user.py
  backend/backend/services/user/schemas.py
  backend/backend/services/user/tasks.py
Due: backend

Upgrade deps
  .pre-commit-config.yaml
  backend/poetry.lock
  backend/pyproject.toml
  e2e/package.json
  e2e/yarn.lock
  frontend/package.json
  frontend/yarn.lock
  infrastructure/requirements.txt
Due: none

Ignore vite error
  frontend/adapters/node-server/vite.config.ts
Due: frontend

Bump playwright docker image
  e2e/Dockerfile
Due: none

Upgrade deps
  backend/poetry.lock
  e2e/yarn.lock
  frontend/yarn.lock
Due: none

Bump backend deps
  backend/poetry.lock
  backend/pyproject.toml
Due: none

Bump strawbery graphql
  backend/poetry.lock
  backend/pyproject.toml
Due: none

Adjust code to the new prettier
  frontend/tsconfig.json
Due: none

Update playwright
  e2e/Dockerfile
Due: none

Path conditions:
  backend: any of: ^backend/ and \.py$
  infrastructure: any of: ^infrastructure/ and \.py$
  frontend: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  e2e: any of: ^e2e/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
