Repository Przemoo16/project-starter-graphql: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-infrastructure, pylint-backend, pylint-infrastructure, eslint-frontend

mypy-backend:
  name: mypy (backend)
  entry: docker compose run -T --rm --no-deps backend mypy .
  language: system
  require_serial: true
  pass_filenames: false

mypy-infrastructure:
  name: mypy (infrastructure)
  entry: ./infrastructure/venv/bin/python -m mypy
  language: system
  require_serial: true

pylint-backend:
  name: pylint (backend)
  entry: docker compose run -T --rm --no-deps backend pylint backend tests
  language: system
  require_serial: true
  pass_filenames: false

pylint-infrastructure:
  name: pylint (infrastructure)
  entry: ./infrastructure/venv/bin/python -m pylint
  language: system
  require_serial: true

eslint-frontend:
  name: eslint (frontend)
  entry: docker compose run -T --rm --no-deps frontend yarn lint
  language: system
  require_serial: true
  pass_filenames: false

Fix lifecycle policy
  infrastructure/modules/ecr.py
Due: mypy-infrastructure, pylint-infrastructure

Test templates
  backend/tests/unit/services/user/templates/__init__.py
  backend/tests/unit/services/user/templates/test_email_confirmation.py
  backend/tests/unit/services/user/templates/test_reset_password.py
Due: mypy-backend, pylint-backend

Include promote images in test flows
  .github/workflows/build-backend.yaml
  .github/workflows/build-frontend.yaml
  .github/workflows/build-proxy.yaml
  .github/workflows/lint.yaml
  .github/workflows/promote-images.yaml
  .github/workflows/test-backend.yaml
  .github/workflows/test-frontend.yaml
Due: none

Backend
  backend/run.sh
Due: none

Improve workflows
  .github/workflows/build-backend.yaml
  .github/workflows/build-frontend.yaml
  .github/workflows/build-proxy.yaml
Due: none

Fix workflows
  .github/workflows/build-backend.yaml
  .github/workflows/build-frontend.yaml
  .github/workflows/build-proxy.yaml
Due: none

Generate graphql types
  .prettierignore
  frontend/.dockerignore
  frontend/.eslintignore
  frontend/.prettierignore
  frontend/codegen.ts
  frontend/package.json
  frontend/src/libs/api/is-problem-present.ts
  frontend/src/libs/api/send-graphql-authenticated-request.test.ts
  frontend/src/libs/api/send-graphql-authenticated-request.ts
  frontend/src/routes/account/change-password-form.tsx
  frontend/src/routes/account/index.tsx
  frontend/src/routes/account/update-account-form.tsx
  frontend/src/routes/confirm-email/index.tsx
  frontend/src/routes/login/login-form.tsx
  frontend/src/routes/register/register-form.tsx
  frontend/src/routes/reset-password/reset-password-form.tsx
  frontend/src/services/graphql.ts
  frontend/src/services/requests/get-api-url.test.ts
  frontend/src/services/requests/get-api-url.ts
  frontend/src/services/requests/get-request-sender.ts
  frontend/src/services/user/change-my-password.ts
  frontend/src/services/user/confirm-email.ts
  frontend/src/services/user/delete-me.ts
  frontend/src/services/user/get-me.ts
  frontend/src/services/user/login.ts
  frontend/src/services/user/recover-password.ts
  frontend/src/services/user/refresh-token.ts
  frontend/src/services/user/register.ts
  frontend/src/services/user/reset-password.ts
  frontend/src/services/user/update-me.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Due: none

Minor pre-commit fixes
  .pre-commit-config.yaml
Due: none

Make variables internal
  backend/backend/api/graphql/context.py
  backend/backend/main.py
  backend/backend/services/monitoring/routers/health.py
  backend/backend/services/user/context.py
  backend/backend/services/user/resolvers/auth.py
  backend/backend/services/user/schemas.py
  backend/backend/services/user/tasks.py
  backend/backend/worker.py
Due: mypy-backend, pylint-backend

Introduce private convention
  backend/alembic/env.py
  backend/backend/api/deps.py
  backend/backend/api/graphql/context.py
  backend/backend/api/graphql/router.py
  backend/backend/config/settings.py
  backend/backend/db.py
  backend/backend/i18.py
  backend/backend/libs/db/engine.py
  backend/backend/libs/email/message.py
  backend/backend/libs/types/asynchronous.py
  backend/backend/main.py
  backend/backend/services/monitoring/operations/health.py
  backend/backend/services/monitoring/routers/health.py
  backend/backend/services/user/context.py
  backend/backend/services/user/operations/auth.py
  backend/backend/services/user/operations/email.py
  backend/backend/services/user/operations/password.py
  backend/backend/services/user/operations/user.py
  backend/backend/services/user/resolvers/auth.py
  backend/backend/services/user/resolvers/email.py
  backend/backend/services/user/resolvers/password.py
  backend/backend/services/user/resolvers/user.py
  backend/backend/services/user/schemas.py
  backend/backend/services/user/tasks.py
  backend/backend/worker.py
  backend/tests/integration/conftest.py
  backend/tests/integration/helpers/db.py
  backend/tests/integration/helpers/user.py
  backend/tests/unit/helpers/async_executor.py
Due: mypy-backend, pylint-backend

More private cleaning
  backend/backend/libs/api/context.py
  backend/backend/libs/db/crud.py
  backend/backend/services/monitoring/exceptions.py
  backend/backend/services/user/context.py
  backend/backend/services/user/resolvers/auth.py
  backend/tests/unit/helpers/user.py
Due: mypy-backend, pylint-backend

Fix postgres version
  compose.test.yaml
  compose.yaml
  infrastructure/Pulumi.yaml
Due: none

Refactor VPC and ECR
  .github/workflows/build-backend.yaml
  .github/workflows/build-frontend.yaml
  infrastructure/README.md
  infrastructure/__main__.py
  infrastructure/modules/ecr.py
  infrastructure/modules/network.py
  infrastructure/resources/__init__.py
  infrastructure/resources/ecr.py
  infrastructure/resources/network.py
Due: mypy-infrastructure, pylint-infrastructure

Refactor Elasticache
  infrastructure/__main__.py
  infrastructure/modules/elasticache.py
  infrastructure/resources/elasticache.py
Due: mypy-infrastructure, pylint-infrastructure

Refactor ALB
  infrastructure/__main__.py
  infrastructure/modules/alb.py
  infrastructure/resources/alb.py
  infrastructure/resources/ecr.py
  infrastructure/resources/elasticache.py
  infrastructure/resources/network.py
Due: mypy-infrastructure, pylint-infrastructure

Refactor rds
  infrastructure/__main__.py
  infrastructure/modules/rds.py
  infrastructure/resources/rds.py
Due: mypy-infrastructure, pylint-infrastructure

Rename components
  infrastructure/resources/alb.py
  infrastructure/resources/ecr.py
  infrastructure/resources/elasticache.py
  infrastructure/resources/rds.py
Due: mypy-infrastructure, pylint-infrastructure

Refactor ssm parameters
  infrastructure/__main__.py
  infrastructure/modules/ssm.py
  infrastructure/resources/rds.py
Due: mypy-infrastructure, pylint-infrastructure

Refactor IAM
  infrastructure/__main__.py
  infrastructure/modules/iam.py
Due: mypy-infrastructure, pylint-infrastructure

Refactor ECS
  infrastructure/__main__.py
  infrastructure/modules/ecs.py
  infrastructure/resources/ecs.py
Due: mypy-infrastructure, pylint-infrastructure

Final refactoring
  infrastructure/modules/ecs.py
  infrastructure/resources/alb.py
  infrastructure/resources/ecs.py
Due: mypy-infrastructure, pylint-infrastructure

Add more robust security groups
  compose.test.yaml
  compose.yaml
  infrastructure/__main__.py
  infrastructure/modules/ecs.py
  infrastructure/resources/alb.py
  infrastructure/resources/ecs.py
  infrastructure/resources/ecs_access.py
  infrastructure/resources/elasticache.py
  infrastructure/resources/rds.py
Due: mypy-infrastructure, pylint-infrastructure

Final refactor
  infrastructure/__main__.py
  infrastructure/modules/ecs.py
  infrastructure/resources/cache.py
  infrastructure/resources/database.py
  infrastructure/resources/ecs_access.py
  infrastructure/resources/lb.py
  infrastructure/resources/network.py
  infrastructure/resources/repository.py
  infrastructure/resources/services.py
  infrastructure/resources/services_access.py
Due: mypy-infrastructure, pylint-infrastructure

Add comment for https connection
  infrastructure/resources/lb.py
Due: mypy-infrastructure, pylint-infrastructure

Upgrade python
  .github/workflows/lint.yaml
  .github/workflows/preview-infrastructure.yaml
  .pre-commit-config.yaml
  backend/Dockerfile
  backend/backend/api/graphql/router.py
  backend/backend/libs/db/functions.py
  backend/backend/libs/types/asynchronous.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/unit/helpers/async_executor.py
  infrastructure/resources/lb.py
  infrastructure/resources/services.py
  pyproject.toml
Due: mypy-backend, mypy-infrastructure, pylint-backend, pylint-infrastructure

Refactor retrieving url from envs
  frontend/src/routes/account/index.tsx
  frontend/src/routes/confirm-email/index.tsx
  frontend/src/services/requests/get-api-url.test.ts
  frontend/src/services/requests/get-api-url.ts
  frontend/src/services/requests/get-client-graphql-api-url.test.ts
  frontend/src/services/requests/get-client-graphql-api-url.ts
  frontend/src/services/requests/get-client-request-sender.ts
  frontend/src/services/requests/get-request-sender.ts
  frontend/src/services/requests/get-server-graphql-api-url.test.ts
  frontend/src/services/requests/get-server-graphql-api-url.ts
  frontend/src/services/requests/get-server-request-sender.ts
Due: none

Allow to pass env to frontend service
  compose.yaml
  infrastructure/__main__.py
  infrastructure/helpers/date.py
  infrastructure/helpers/string.py
  infrastructure/modules/__init__.py
  infrastructure/modules/ecs.py
  infrastructure/resources/database.py
  infrastructure/resources/lb.py
  infrastructure/resources/repositories.py
  infrastructure/resources/services.py
  infrastructure/resources/services/__init__.py
  infrastructure/resources/services/cluster.py
  infrastructure/resources/services/fargate_services.py
  infrastructure/resources/services/iam.py
  infrastructure/resources/services/security_groups.py
  infrastructure/resources/services/service_discovery.py
  infrastructure/resources/services_access.py
Due: mypy-infrastructure, pylint-infrastructure

Remove hardcoded repos
  infrastructure/resources/repositories.py
Due: mypy-infrastructure, pylint-infrastructure

Remove unnecessary mappings
  infrastructure/Pulumi.yaml
  infrastructure/resources/services/fargate_services.py
Due: mypy-infrastructure, pylint-infrastructure

Small change order
  compose.test.yaml
  compose.yaml
  infrastructure/Pulumi.yaml
  infrastructure/resources/services/fargate_services.py
  infrastructure/resources/services/security_groups.py
  infrastructure/resources/services/service_discovery.py
Due: mypy-infrastructure, pylint-infrastructure

Fix small type
  backend/backend/api/deps.py
Due: mypy-backend, pylint-backend

Remove logging from libs
  backend/backend/libs/db/engine.py
  backend/backend/libs/email/message.py
Due: mypy-backend, pylint-backend

Create queue based logging
  backend/backend/logs.py
  backend/backend/main.py
Due: mypy-backend, pylint-backend

Update backend deps
  backend/poetry.lock
  backend/pyproject.toml
Due: none

Adjust code to new qwik-speak
  frontend/i18n/en-US/head.json
  frontend/i18n/en-US/login.json
  frontend/i18n/en-US/register.json
  frontend/i18n/en-US/runtime.json
  frontend/src/components/router-head/router-head.tsx
  frontend/src/entry.ssr.tsx
  frontend/src/root.tsx
  frontend/src/routes/404.tsx
  frontend/src/routes/account/change-password-form.tsx
  frontend/src/routes/account/index.tsx
  frontend/src/routes/account/update-account-form.tsx
  frontend/src/routes/confirm-email/index.tsx
  frontend/src/routes/dashboard/index.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/login/index.tsx
  frontend/src/routes/login/login-form.tsx
  frontend/src/routes/plugin.ts
  frontend/src/routes/recover-password/index.tsx
  frontend/src/routes/recover-password/recover-password-form.tsx
  frontend/src/routes/register/index.tsx
  frontend/src/routes/register/register-form.tsx
  frontend/src/routes/reset-password/index.tsx
  frontend/src/routes/reset-password/reset-password-form.tsx
  frontend/src/speak-config.ts
  frontend/src/speak-functions.ts
  frontend/yarn.lock
Due: none

Replace pylint by ruff
  .pre-commit-config.yaml
  backend/backend/libs/db/functions.py
  backend/backend/libs/types/asynchronous.py
  backend/backend/services/monitoring/operations/health.py
  backend/backend/services/user/jinja.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/integration/libs/db/test_crud.py
  backend/tests/integration/services/monitoring/routers/test_health.py
  backend/tests/unit/helpers/async_executor.py
  backend/tests/unit/helpers/user.py
  backend/tests/unit/services/monitoring/operations/test_health.py
  infrastructure/__main__.py
  infrastructure/requirements.txt
  pyproject.toml
Due: mypy-backend, mypy-infrastructure, pylint-backend, pylint-infrastructure

Init e2e tests
  .env.e2e
  .env.template
  .env.test
  .github/dependabot.yml
  .pre-commit-config.yaml
  Makefile
  compose.e2e.yaml
  compose.test.yaml
  e2e/.dockerignore
  e2e/.eslintrc.cjs
  e2e/.gitignore
  e2e/.prettierrc.json
  e2e/Dockerfile
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tests/home.test.ts
  e2e/tsconfig.json
  e2e/yarn.lock
  frontend/package.json
  proxy/nginx.conf
Due: none

Disable qwik cache in dev
  frontend/vite.config.ts
Due: none

Fix invalid token when user not found
  frontend/src/libs/api/send-graphql-authenticated-request.test.ts
  frontend/src/libs/api/send-graphql-authenticated-request.ts
Due: none

Path conditions:
  mypy-backend: any of: ^backend/ and \.py$
  mypy-infrastructure: any of: ^infrastructure/ and \.py$
  pylint-backend: any of: ^backend/ and \.py$
  pylint-infrastructure: any of: ^infrastructure/ and \.py$
  eslint-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$ and \.jsx$ and \.(ts|mts|cts)$ and \.tsx$
