Repository Przemoo16/project-starter-graphql: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-infrastructure, pylint-backend, pylint-infrastructure, eslint-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, pre-push]
default_language_version:
  python: python3.11
  node: 20.0.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.264
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.2
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-c=pyproject.toml]
        additional_dependencies: [".[toml]"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.34.0
    hooks:
      - id: markdownlint-fix
  - repo: https://github.com/hadolint/hadolint.git
    rev: v2.12.1-beta
    hooks:
      - id: hadolint-docker
        args: [
            --ignore=DL3008, # Pin versions in apt get install
            --ignore=DL3013, # Pin versions in pip
          ]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.2
    hooks:
      - id: shellcheck
  - repo: https://github.com/openstack-dev/bashate.git
    rev: 2.1.1
    hooks:
      - id: bashate
  - repo: local
    hooks:
      - id: mypy-backend
        name: mypy (backend)
        entry: docker compose run -T --rm --no-deps backend mypy .
        language: system
        files: ^backend/
        types: [python]
        require_serial: true
        pass_filenames: false
      - id: mypy-infrastructure
        name: mypy (infrastructure)
        entry: ./infrastructure/venv/bin/python -m mypy
        language: system
        files: ^infrastructure/
        types: [python]
        require_serial: true
      - id: pylint-backend
        name: pylint (backend)
        entry: docker compose run -T --rm --no-deps backend pylint src
        language: system
        files: ^backend/
        types: [python]
        require_serial: true
        pass_filenames: false
      - id: pylint-infrastructure
        name: pylint (infrastructure)
        entry: ./infrastructure/venv/bin/python -m pylint
        language: system
        files: ^infrastructure/
        types: [python]
        require_serial: true
      - id: eslint-frontend
        name: eslint (frontend)
        entry: docker compose run -T --rm --no-deps frontend yarn lint
        language: system
        files: ^frontend/
        types: [javascript, jsx, ts, tsx]
        require_serial: true
        pass_filenames: false

Style improvements
  backend/app/pyproject.toml
Due: none

Reuse docker image in workflows
  .github/workflows/build-push-image.yaml
  .github/workflows/test-backend.yaml
  .github/workflows/test-frontend.yaml
Due: none

Fix installing dev dependencies in test
  backend/app/poetry.lock
  backend/app/pyproject.toml
Due: none

Test
  .github/workflows/test-backend.yaml
Due: none

Add Makefile
  .github/workflows/lint.yaml
  Makefile
Due: none

Clean unnecessary make commands
  .github/workflows/lint.yaml
  Makefile
Due: none

Small polish
  .github/workflows/lint.yaml
  backend/Dockerfile
  compose.yaml
Due: none

Create AWS infrastructure
  infrastructure/Pulumi.prod.yaml
  infrastructure/Pulumi.yaml
  infrastructure/__main__.py
Due: mypy-infrastructure, pylint-infrastructure

Add mypy cache and small improvements
  .github/workflows/lint.yaml
  .github/workflows/test-backend.yaml
  backend/Dockerfile
  backend/app/poetry.lock
  backend/app/pyproject.toml
  compose.yaml
Due: none

Purge cache
  .github/workflows/purge-cache.yaml
Due: none

Create AWS infrastructure
  .github/workflows/purge-cache.yaml
  backend/Dockerfile
  compose.yaml
  frontend/Dockerfile
  infrastructure/Pulumi.prod.yaml
  infrastructure/Pulumi.yaml
  infrastructure/__main__.py
  infrastructure/modules/__init__.py
  infrastructure/modules/alb.py
  infrastructure/modules/ecs.py
  infrastructure/modules/network.py
  infrastructure/modules/services/__init__.py
  infrastructure/modules/services/backend.py
  infrastructure/modules/services/frontend.py
  pyproject.toml
Due: mypy-infrastructure, pylint-infrastructure

Add infrastructure workflow
  .github/workflows/lint.yaml
  .github/workflows/preview-infrastructure.yaml
  .github/workflows/purge-cache.yaml
Due: none

Create database
  .env.template
  backend/app/poetry.lock
  backend/app/pyproject.toml
  backend/app/src/alembic.ini
  backend/app/src/alembic/README
  backend/app/src/alembic/env.py
  backend/app/src/alembic/script.py.mako
  backend/app/src/config/__init__.py
  backend/app/src/config/db.py
  backend/app/src/config/settings.py
  backend/app/src/main.py
  backend/app/src/models/__init__.py
  backend/app/src/models/user.py
  compose.yaml
  pyproject.toml
Due: mypy-backend, pylint-backend

Fix github actions
  .github/workflows/lint.yaml
  backend/app/pyproject.toml
Due: none

Create user table
  backend/Dockerfile
  backend/app/alembic.ini
  backend/app/alembic/README
  backend/app/alembic/env.py
  backend/app/alembic/script.py.mako
  backend/app/alembic/versions/a2dca05cbc34_init_tables.py
  backend/app/run.sh
  backend/app/src/models/__init__.py
  backend/app/src/models/base.py
  backend/app/src/models/functions.py
  backend/app/src/models/user.py
Due: mypy-backend, pylint-backend

Detect file changes in the CI
  .github/workflows/preview-infrastructure.yaml
  .github/workflows/test-backend.yaml
  .github/workflows/test-frontend.yaml
Due: none

Add celery
  .env.template
  .github/workflows/preview-infrastructure.yaml
  .github/workflows/test-backend.yaml
  .github/workflows/test-frontend.yaml
  Makefile
  backend/.gitignore
  backend/app/poetry.lock
  backend/app/pyproject.toml
  backend/app/src/celery/__init__.py
  backend/app/src/celery/app.py
  backend/app/src/config/celery.py
  backend/app/src/config/settings.py
  backend/app/src/tasks/__init__.py
  compose.yaml
Due: mypy-backend, pylint-backend

Restructure infrastructure
  backend/pyproject.toml
  infrastructure/__main__.py
  infrastructure/modules/__init__.py
  infrastructure/modules/alb.py
  infrastructure/modules/ecs.py
  infrastructure/modules/network.py
  infrastructure/modules/services/__init__.py
  infrastructure/modules/services/backend.py
  infrastructure/modules/services/frontend.py
  pyproject.toml
Due: mypy-infrastructure, pylint-infrastructure

Create DB infrastructure
  infrastructure/Pulumi.prod.yaml
  infrastructure/Pulumi.yaml
  infrastructure/__main__.py
  infrastructure/modules/date.py
  infrastructure/modules/hash.py
  infrastructure/modules/rds.py
Due: mypy-infrastructure, pylint-infrastructure

Create redis infrastructure
  infrastructure/Pulumi.yaml
  infrastructure/__main__.py
  infrastructure/helpers/__init__.py
  infrastructure/helpers/date.py
  infrastructure/helpers/hash.py
  infrastructure/modules/elasticache.py
Due: mypy-infrastructure, pylint-infrastructure

Create celery infrastructure
  infrastructure/Pulumi.prod.yaml
  infrastructure/Pulumi.yaml
  infrastructure/__main__.py
  infrastructure/modules/alb.py
  infrastructure/modules/ecs.py
  infrastructure/modules/elasticache.py
  infrastructure/modules/rds.py
Due: mypy-infrastructure, pylint-infrastructure

Create ECR infrastructure
  infrastructure/Pulumi.yaml
  infrastructure/README.md
  infrastructure/__main__.py
  infrastructure/helpers/string.py
  infrastructure/modules/ecr.py
Due: mypy-infrastructure, pylint-infrastructure

Reduce docker image size
  backend/Dockerfile
  infrastructure/README.md
Due: none

Fix linting
  backend/alembic/env.py
  backend/alembic/versions/d0f6fed555bf_init_tables.py
Due: mypy-backend, pylint-backend

Create db engine
  backend/.dockerignore
  backend/Dockerfile
  backend/alembic/env.py
  backend/backend/db/__init__.py
  backend/backend/db/base.py
  backend/backend/db/engine.py
  backend/backend/db/session.py
  backend/backend/main.py
  backend/backend/models/__init__.py
  backend/backend/models/user.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/run.sh
  backend/tests/test_main.py
  frontend/Dockerfile
Due: mypy-backend, pylint-backend

Update packages
  .pre-commit-config.yaml
  backend/poetry.lock
Due: none

Create GraphQL structure
  .env.template
  .github/workflows/lint.yaml
  .github/workflows/test-backend.yaml
  .github/workflows/test-frontend.yaml
  .github/workflows/test-image.yaml
  Makefile
  backend/alembic/versions/4a50a0932f83_init_tables.py
  backend/backend/api/__init__.py
  backend/backend/api/graphql/__init__.py
  backend/backend/api/graphql/api.py
  backend/backend/config/app.py
  backend/backend/config/settings.py
  backend/backend/db/engine.py
  backend/backend/main.py
  backend/backend/models/user.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/integration/__init__.py
  backend/tests/integration/api/__init__.py
  backend/tests/integration/api/graphql/__init__.py
  backend/tests/integration/api/graphql/test_schema.py
  backend/tests/integration/api/test_app.py
  backend/tests/integration/conftest.py
  backend/tests/test_main.py
  backend/tests/unit/__init__.py
  backend/tests/unit/test_main.py
Due: mypy-backend, pylint-backend

Test
  .github/workflows/lint.yaml
  .github/workflows/test-backend.yaml
  .github/workflows/test-frontend.yaml
  Makefile
  frontend/test.txt
Due: none

Add session context
  backend/backend/api/graphql/context.py
  backend/backend/api/graphql/query.py
  backend/backend/api/graphql/router.py
  backend/backend/db/session.py
  backend/backend/main.py
  backend/tests/integration/api/graphql/__init__.py
  backend/tests/integration/api/graphql/test_schema.py
  backend/tests/integration/api/test_app.py
  backend/tests/integration/conftest.py
Due: mypy-backend, pylint-backend

Add logging level config
  .env.template
  backend/backend/config/app.py
  backend/backend/main.py
Due: mypy-backend, pylint-backend

Dispose engine after tests
  backend/tests/integration/api/test_app.py
  backend/tests/integration/conftest.py
Due: mypy-backend, pylint-backend

Create Base CRUD
  backend/alembic/env.py
  backend/backend/api/graphql/context.py
  backend/backend/crud/__init__.py
  backend/backend/crud/base.py
  backend/backend/db/session.py
  backend/backend/models/__init__.py
  backend/backend/models/base.py
  backend/backend/models/user.py
  backend/backend/types/__init__.py
  backend/backend/types/dataclass.py
  backend/backend/types/scalars.py
  backend/pyproject.toml
  backend/tests/integration/conftest.py
  backend/tests/integration/crud/__init__.py
  backend/tests/integration/crud/test_base.py
  backend/tests/unit/test_main.py
  backend/tests/unit/types/__init__.py
  backend/tests/unit/types/test_scalars.py
  pyproject.toml
Due: mypy-backend, pylint-backend

Replace isort and pyupgrade by ruff
  .pre-commit-config.yaml
  backend/alembic/env.py
  backend/alembic/versions/4a50a0932f83_init_tables.py
  backend/pyproject.toml
  pyproject.toml
Due: mypy-backend, pylint-backend

Reorder ruff rules
  pyproject.toml
Due: none

Improve crud interface
  Makefile
  backend/backend/crud/base.py
  backend/tests/integration/crud/test_base.py
  pyproject.toml
Due: mypy-backend, pylint-backend

Add ruff rules
  backend/backend/models/functions.py
  backend/tests/integration/api/test_app.py
  backend/tests/integration/conftest.py
  backend/tests/integration/crud/test_base.py
  backend/tests/unit/types/test_scalars.py
  pyproject.toml
Due: mypy-backend, pylint-backend

Fix tests
  backend/tests/integration/conftest.py
Due: mypy-backend, pylint-backend

Create libs
  backend/backend/db/engine.py
  backend/backend/db/session.py
  backend/backend/libs/__init__.py
  backend/backend/libs/db/__init__.py
  backend/backend/libs/db/crud.py
  backend/backend/libs/db/engine.py
  backend/backend/libs/db/session.py
  backend/backend/libs/types/__init__.py
  backend/backend/libs/types/dataclass.py
  backend/backend/libs/types/scalars.py
  backend/backend/main.py
  backend/tests/integration/conftest.py
  backend/tests/integration/libs/__init__.py
  backend/tests/integration/libs/db/__init__.py
  backend/tests/integration/libs/db/test_crud.py
  backend/tests/unit/libs/__init__.py
  backend/tests/unit/libs/types/__init__.py
  backend/tests/unit/libs/types/test_scalars.py
  pyproject.toml
Due: mypy-backend, pylint-backend
