Repository Przemoo16/project-starter-graphql: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-infrastructure, pylint-backend, pylint-infrastructure, eslint-frontend

mypy-backend:
  name: mypy (backend)
  entry: docker compose run -T --rm --no-deps backend mypy .
  language: system
  require_serial: true
  pass_filenames: false

mypy-infrastructure:
  name: mypy (infrastructure)
  entry: ./infrastructure/venv/bin/python -m mypy
  language: system
  require_serial: true

pylint-backend:
  name: pylint (backend)
  entry: docker compose run -T --rm --no-deps backend pylint backend tests
  language: system
  require_serial: true
  pass_filenames: false

pylint-infrastructure:
  name: pylint (infrastructure)
  entry: ./infrastructure/venv/bin/python -m pylint
  language: system
  require_serial: true

eslint-frontend:
  name: eslint (frontend)
  entry: docker compose run -T --rm --no-deps frontend yarn lint
  language: system
  require_serial: true
  pass_filenames: false

Fixes after code splitting
  frontend/src/services/user/clear-tokens.test.ts
  frontend/src/services/user/get-auth-header.test.ts
  frontend/src/services/user/is-authorized.test.ts
  frontend/src/services/user/login.test.ts
  frontend/src/services/user/logout.test.ts
  frontend/src/services/user/refresh-token.test.ts
  frontend/src/services/user/test-token-storage.ts
Due: none

Create proxy container
  .env.template
  .env.test
  backend/backend/config/user.py
  backend/backend/libs/security/token.py
  backend/backend/services/user/context.py
  backend/tests/integration/conftest.py
  backend/tests/unit/libs/security/test_token.py
  compose.test.yaml
  compose.yaml
  infrastructure/Pulumi.prod.yaml
  infrastructure/Pulumi.yaml
  infrastructure/__main__.py
  infrastructure/helpers/string.py
  proxy/.dockerignore
  proxy/Dockerfile
Due: mypy-backend, mypy-infrastructure, pylint-backend, pylint-infrastructure

Fix infrastructure
  backend/backend/config/user.py
  backend/backend/services/user/tasks.py
  infrastructure/__main__.py
Due: mypy-backend, mypy-infrastructure, pylint-backend, pylint-infrastructure

Add healthcheck
  backend/backend/api/rest/__init__.py
  backend/backend/api/rest/router.py
  backend/backend/celery.py
  backend/backend/main.py
  backend/backend/services/monitoring/exceptions.py
  backend/backend/services/monitoring/operations/health.py
  backend/backend/services/monitoring/routers/health.py
  backend/backend/services/monitoring/routers/router.py
  backend/backend/services/monitoring/tasks.py
  backend/tests/integration/services/monitoring/routers/test_health.py
  backend/tests/integration/test_main.py
  backend/tests/unit/services/monitoring/operations/test_health.py
  proxy/nginx.conf
Due: mypy-backend, pylint-backend

Fix Nginx location
  proxy/nginx.conf
Due: none

Refactor resources names
  infrastructure/modules/alb.py
  infrastructure/modules/ecr.py
  infrastructure/modules/ecs.py
  infrastructure/modules/elasticache.py
  infrastructure/modules/rds.py
Due: mypy-infrastructure, pylint-infrastructure

Remove name from ECR
  infrastructure/Pulumi.yaml
  infrastructure/modules/ecr.py
  infrastructure/modules/rds.py
Due: mypy-infrastructure, pylint-infrastructure

Add service discovery
  infrastructure/Pulumi.prod.yaml
  infrastructure/Pulumi.yaml
  infrastructure/__main__.py
  infrastructure/modules/ecs.py
Due: mypy-infrastructure, pylint-infrastructure

Change worker and scheduler naming
  .env.template
  .env.test
  backend/backend/celery.py
  backend/backend/config/settings.py
  backend/backend/config/worker.py
  backend/backend/services/monitoring/tasks.py
  backend/backend/services/user/tasks.py
  backend/backend/worker.py
  compose.test.yaml
  compose.yaml
  infrastructure/Pulumi.yaml
  infrastructure/__main__.py
Due: mypy-backend, mypy-infrastructure, pylint-backend, pylint-infrastructure

Fix infrastructure
  infrastructure/__main__.py
Due: mypy-infrastructure, pylint-infrastructure

Add healthcheck to infrastructure
  infrastructure/Pulumi.yaml
  infrastructure/__main__.py
  infrastructure/modules/alb.py
  infrastructure/modules/ecs.py
  infrastructure/modules/elasticache.py
  infrastructure/modules/rds.py
Due: mypy-infrastructure, pylint-infrastructure

Add healthcheck to infrastructure
  infrastructure/Pulumi.yaml
Due: none

Implement proper secrets in infrastructure
  backend/backend/config/db.py
  backend/backend/config/email.py
  backend/backend/services/user/tasks.py
  infrastructure/Pulumi.prod.yaml
  infrastructure/Pulumi.yaml
  infrastructure/README.md
  infrastructure/__main__.py
  infrastructure/modules/ecr.py
  infrastructure/modules/ecs.py
  infrastructure/modules/iam.py
  infrastructure/modules/ssm.py
Due: mypy-backend, mypy-infrastructure, pylint-backend, pylint-infrastructure

Upgrade deps
  backend/poetry.lock
  frontend/yarn.lock
Due: none

Run healtcheck in async fashion
  backend/backend/services/monitoring/routers/health.py
Due: mypy-backend, pylint-backend

Refactor frontend requests
  backend/backend/main.py
  backend/tests/integration/api/graphql/test_router.py
  backend/tests/integration/conftest.py
  backend/tests/integration/services/monitoring/routers/test_health.py
  backend/tests/integration/services/user/resolvers/test_auth.py
  backend/tests/integration/services/user/resolvers/test_email.py
  backend/tests/integration/services/user/resolvers/test_password.py
  backend/tests/integration/services/user/resolvers/test_user.py
  frontend/src/libs/api/fetchers.ts
  frontend/src/libs/api/get-api-url.test.ts
  frontend/src/libs/api/get-api-url.ts
  frontend/src/libs/api/send-graphql-authorized-request.test.ts
  frontend/src/libs/api/send-graphql-authorized-request.ts
  frontend/src/libs/api/send-graphql-request.test.ts
  frontend/src/libs/api/send-graphql-request.ts
  frontend/src/libs/api/types.ts
  frontend/src/libs/storage/client-cookies-storage.ts
  frontend/src/libs/storage/server-cookies-storage.ts
  frontend/src/routes/account/index.tsx
  frontend/src/routes/dashboard/index.tsx
  frontend/src/routes/login/index.tsx
  frontend/src/routes/recover-password/index.tsx
  frontend/src/routes/register/index.tsx
  frontend/src/services/requests/get-request-sender.ts
  frontend/src/services/tokens/constants.ts
  frontend/src/services/tokens/get-client-token-storage.ts
  frontend/src/services/tokens/get-server-token-storage.ts
  infrastructure/Pulumi.yaml
  proxy/nginx.conf
Due: mypy-backend, pylint-backend

Minor nginx refactor
  proxy/nginx.conf
Due: none

Change infrastructure params
  infrastructure/Pulumi.yaml
  infrastructure/modules/alb.py
  infrastructure/modules/ecs.py
  infrastructure/modules/elasticache.py
  infrastructure/modules/rds.py
Due: mypy-infrastructure, pylint-infrastructure

Make deps async
  backend/backend/services/monitoring/routers/health.py
  backend/tests/integration/conftest.py
  backend/tests/integration/services/monitoring/routers/test_health.py
Due: mypy-backend, pylint-backend

Make proxy work on aws
  compose.yaml
  frontend/Dockerfile
  frontend/src/entry.node-server.tsx
  frontend/src/libs/api/get-api-url.test.ts
  frontend/src/libs/api/get-api-url.ts
  frontend/src/services/requests/get-request-sender.ts
  frontend/vite.config.ts
  infrastructure/Pulumi.yaml
  infrastructure/__main__.py
  infrastructure/helpers/string.py
  infrastructure/modules/ecs.py
  infrastructure/modules/network.py
  proxy/.dockerignore
  proxy/Dockerfile
  proxy/nginx-template-subst.sh
  proxy/nginx.conf
Due: mypy-infrastructure, pylint-infrastructure

Check tokens on page load
  frontend/src/libs/api/send-graphql-authenticated-request.test.ts
  frontend/src/libs/api/send-graphql-authenticated-request.ts
  frontend/src/libs/storage/browser-storage.ts
  frontend/src/libs/storage/types.ts
  frontend/src/root.tsx
  frontend/src/routes/account/index.tsx
  frontend/src/routes/confirm-email/index.tsx
  frontend/src/services/auth/get-server-logout-redirection.ts
  frontend/src/services/auth/on-only-anonymous-route.ts
  frontend/src/services/auth/on-protected-route.ts
  frontend/src/services/requests/get-request-sender.ts
  frontend/src/services/requests/get-server-request-sender.ts
  frontend/src/services/user/check-token-validity.test.ts
  frontend/src/services/user/check-token-validity.ts
  frontend/src/services/user/clear-tokens.test.ts
  frontend/src/services/user/clear-tokens.ts
  frontend/src/services/user/get-auth-header.test.ts
  frontend/src/services/user/get-auth-header.ts
  frontend/src/services/user/get-me.test.ts
  frontend/src/services/user/get-me.ts
  frontend/src/services/user/is-authenticated.test.ts
  frontend/src/services/user/is-authenticated.ts
  frontend/src/services/user/is-authorized.test.ts
  frontend/src/services/user/login.test.ts
  frontend/src/services/user/login.ts
  frontend/src/services/user/logout.test.ts
  frontend/src/services/user/logout.ts
  frontend/src/services/user/refresh-token.test.ts
  frontend/src/services/user/refresh-token.ts
  frontend/src/services/user/test-storage.ts
Due: none

Change datetime objects to aware
  .pre-commit-config.yaml
  backend/alembic/versions/70354f8a2bd9_init_tables.py
  backend/backend/services/user/models.py
  backend/backend/services/user/operations/auth.py
  compose.test.yaml
  compose.yaml
  frontend/src/root.tsx
  frontend/src/routes/404.tsx
  infrastructure/Pulumi.yaml
Due: mypy-backend, pylint-backend

Update Python in Github actions
  .github/workflows/lint.yaml
  .github/workflows/preview-infrastructure.yaml
Due: none

Revert pre-commit python version
  .github/workflows/lint.yaml
  .github/workflows/preview-infrastructure.yaml
  .pre-commit-config.yaml
Due: none

Secure cookies
  frontend/src/libs/storage/client-cookies-storage.ts
  frontend/src/libs/storage/server-cookies-storage.ts
  frontend/src/libs/storage/types.ts
  frontend/src/services/tokens/constants.ts
  frontend/src/services/tokens/get-client-token-storage.ts
  frontend/src/services/tokens/get-server-token-storage.ts
Due: none

Add timeout to healthcheck
  backend/backend/config/settings.py
  backend/backend/services/monitoring/operations/health.py
  backend/backend/services/monitoring/routers/health.py
Due: mypy-backend, pylint-backend

Fix missing file
  backend/backend/config/monitoring.py
Due: mypy-backend, pylint-backend

Make blocking code async
  backend/backend/api/deps.py
  backend/backend/api/graphql/context.py
  backend/backend/config/monitoring.py
  backend/backend/libs/security/password.py
  backend/backend/libs/security/token.py
  backend/backend/libs/types/asynchronous.py
  backend/backend/libs/types/unset.py
  backend/backend/services/user/context.py
  backend/backend/services/user/operations/auth.py
  backend/backend/services/user/operations/email.py
  backend/backend/services/user/operations/password.py
  backend/backend/services/user/operations/user.py
  backend/backend/services/user/resolvers/auth.py
  backend/backend/services/user/resolvers/email.py
  backend/backend/services/user/resolvers/password.py
  backend/backend/services/user/resolvers/user.py
  backend/tests/unit/api/test_deps.py
  backend/tests/unit/helpers/async_executor.py
  backend/tests/unit/libs/security/test_password.py
  backend/tests/unit/libs/security/test_token.py
  backend/tests/unit/services/user/operations/test_auth.py
  backend/tests/unit/services/user/operations/test_email.py
  backend/tests/unit/services/user/operations/test_password.py
  backend/tests/unit/services/user/operations/test_user.py
Due: mypy-backend, pylint-backend

Improve types management
  backend/backend/api/deps.py
  backend/backend/services/user/crud.py
  backend/backend/services/user/operations/auth.py
  backend/backend/services/user/operations/email.py
  backend/backend/services/user/operations/password.py
  backend/backend/services/user/operations/types.py
  backend/backend/services/user/operations/user.py
Due: mypy-backend, pylint-backend

Upgrade infrastructure deps
  infrastructure/modules/rds.py
  infrastructure/requirements.txt
Due: mypy-infrastructure, pylint-infrastructure

Extract duplications from operations
  backend/backend/services/user/operations/auth.py
  backend/backend/services/user/operations/email.py
  backend/backend/services/user/operations/password.py
Due: mypy-backend, pylint-backend

Change function name
  backend/backend/services/user/operations/email.py
  backend/backend/services/user/operations/password.py
Due: mypy-backend, pylint-backend

Small improvements and fix integration tests
  Makefile
  backend/backend/api/graphql/context.py
  backend/backend/services/user/crud.py
  backend/backend/services/user/operations/email.py
  backend/backend/services/user/operations/password.py
  backend/backend/services/user/operations/user.py
  backend/backend/services/user/resolvers/auth.py
  backend/backend/services/user/resolvers/email.py
  backend/backend/services/user/resolvers/password.py
  backend/backend/services/user/resolvers/user.py
  backend/backend/services/user/tasks.py
  backend/tests/integration/services/monitoring/routers/test_health.py
Due: mypy-backend, pylint-backend

Extract types
  backend/backend/api/graphql/context.py
  backend/backend/db.py
  backend/backend/libs/api/context.py
  backend/backend/libs/db/crud.py
  backend/backend/libs/db/engine.py
  backend/backend/libs/db/session.py
  backend/backend/main.py
  backend/backend/services/monitoring/routers/health.py
  backend/tests/integration/api/graphql/test_router.py
  backend/tests/integration/conftest.py
  backend/tests/integration/helpers/db.py
  backend/tests/integration/helpers/user.py
  backend/tests/integration/libs/db/test_crud.py
  backend/tests/integration/services/user/resolvers/test_auth.py
  backend/tests/integration/services/user/resolvers/test_email.py
  backend/tests/integration/services/user/resolvers/test_password.py
  backend/tests/integration/services/user/resolvers/test_user.py
Due: mypy-backend, pylint-backend

Extract types
  backend/backend/api/graphql/context.py
  backend/backend/db.py
  backend/backend/libs/api/context.py
  backend/backend/libs/db/crud.py
  backend/backend/main.py
  backend/backend/services/monitoring/routers/health.py
  backend/backend/services/user/resolvers/auth.py
  backend/backend/services/user/resolvers/email.py
  backend/backend/services/user/resolvers/password.py
  backend/backend/services/user/resolvers/user.py
  backend/tests/integration/api/graphql/test_router.py
  backend/tests/integration/conftest.py
  backend/tests/integration/helpers/db.py
  backend/tests/integration/helpers/user.py
  backend/tests/integration/libs/db/test_crud.py
  backend/tests/integration/services/monitoring/routers/test_health.py
  backend/tests/integration/services/user/resolvers/test_auth.py
  backend/tests/integration/services/user/resolvers/test_email.py
  backend/tests/integration/services/user/resolvers/test_password.py
  backend/tests/integration/services/user/resolvers/test_user.py
Due: mypy-backend, pylint-backend

Push images to ECR
  .github/workflows/build-push-image.yaml
  .github/workflows/deploy.yaml
  .github/workflows/test-backend.yaml
  .github/workflows/test-frontend.yaml
  Makefile
  backend/run.sh
  compose.test.yaml
  compose.yaml
Due: none

Push images to ECR
  .github/workflows/build-push-image.yaml
  .github/workflows/deploy.yaml
  .github/workflows/test-backend.yaml
  .github/workflows/test-frontend.yaml
  Makefile
  compose.test.yaml
  compose.yaml
Due: none

Fix eploy version
  .github/workflows/deploy.yaml
Due: none

Improve promote images
  .github/workflows/promote-images.yaml
  infrastructure/Pulumi.prod.yaml
  infrastructure/Pulumi.yaml
  infrastructure/README.md
  infrastructure/__main__.py
  infrastructure/modules/ecr.py
Due: mypy-infrastructure, pylint-infrastructure

Fix ECR
  .github/workflows/promote-images.yaml
  infrastructure/modules/ecr.py
Due: mypy-infrastructure, pylint-infrastructure

Path conditions:
  mypy-backend: any of: ^backend/ and \.py$
  mypy-infrastructure: any of: ^infrastructure/ and \.py$
  pylint-backend: any of: ^backend/ and \.py$
  pylint-infrastructure: any of: ^infrastructure/ and \.py$
  eslint-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$ and \.jsx$ and \.(ts|mts|cts)$ and \.tsx$
