Repository Przemoo16/project-starter-graphql: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-infrastructure, pylint-backend, pylint-infrastructure, eslint-frontend

mypy-backend:
  name: mypy (backend)
  entry: docker compose run -T --rm --no-deps backend mypy .
  language: system
  require_serial: true
  pass_filenames: false

mypy-infrastructure:
  name: mypy (infrastructure)
  entry: ./infrastructure/venv/bin/python -m mypy
  language: system
  require_serial: true

pylint-backend:
  name: pylint (backend)
  entry: docker compose run -T --rm --no-deps backend pylint backend tests
  language: system
  require_serial: true
  pass_filenames: false

pylint-infrastructure:
  name: pylint (infrastructure)
  entry: ./infrastructure/venv/bin/python -m pylint
  language: system
  require_serial: true

eslint-frontend:
  name: eslint (frontend)
  entry: docker compose run -T --rm --no-deps frontend yarn lint
  language: system
  require_serial: true
  pass_filenames: false

Add e2e tests to CI
  .editorconfig
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/test-image.yaml
  .pre-commit-config.yaml
  Makefile
  backend/backend/services/user/operations/auth.py
  backend/backend/services/user/operations/email.py
  backend/backend/services/user/operations/password.py
  backend/backend/services/user/resolvers/auth.py
  compose.e2e.yaml
  compose.test.yaml
  e2e/package.json
  proxy/nginx-template-subst.sh
Due: mypy-backend, pylint-backend

Separate push images
  .github/workflows/build-backend.yaml
  .github/workflows/build-frontend.yaml
  .github/workflows/build-proxy.yaml
  .github/workflows/lint.yaml
  .github/workflows/push-images.yaml
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/test-backend.yaml
  .github/workflows/test-frontend.yaml
Due: none

test
  backend/backend/test
  frontend/test
Due: none

Separate push images
  .github/workflows/build-push-image.yaml
  .github/workflows/lint.yaml
  .github/workflows/push-images.yaml
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/test-backend.yaml
  .github/workflows/test-frontend.yaml
Due: none

Scan proxy image
  .github/workflows/test-proxy.yaml
Due: none

Test
  proxy/test
Due: none

Test images on merge to main
  .github/workflows/lint.yaml
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/test-backend.yaml
  .github/workflows/test-frontend.yaml
  .github/workflows/test-proxy.yaml
Due: none

Run CI only on changes
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/test-backend.yaml
  .github/workflows/test-frontend.yaml
  .github/workflows/test-proxy.yaml
Due: none

Add schema tests
  backend/backend/libs/api/types.py
  backend/tests/integration/services/user/resolvers/test_auth.py
  backend/tests/integration/services/user/resolvers/test_email.py
  backend/tests/integration/services/user/resolvers/test_password.py
  backend/tests/integration/services/user/resolvers/test_user.py
  backend/tests/unit/libs/api/test_types.py
Due: mypy-backend, pylint-backend

Add unit tests
  backend/tests/integration/helpers/user.py
  backend/tests/integration/services/user/resolvers/test_auth.py
  backend/tests/integration/services/user/resolvers/test_email.py
  backend/tests/integration/services/user/resolvers/test_password.py
  backend/tests/unit/api/test_deps.py
  backend/tests/unit/services/user/operations/test_email.py
Due: mypy-backend, pylint-backend

Add email test
  backend/tests/integration/services/user/resolvers/test_email.py
Due: mypy-backend, pylint-backend

Rename tests
  .github/workflows/lint.yaml
  .github/workflows/preview-infrastructure.yaml
  .pre-commit-config.yaml
  backend/Dockerfile
  backend/tests/integration/libs/db/test_crud.py
  backend/tests/integration/services/monitoring/routers/test_health.py
  backend/tests/integration/services/user/resolvers/test_auth.py
  backend/tests/integration/services/user/resolvers/test_email.py
  backend/tests/integration/services/user/resolvers/test_password.py
  backend/tests/integration/services/user/resolvers/test_user.py
  backend/tests/unit/api/test_deps.py
  backend/tests/unit/libs/api/test_headers.py
  backend/tests/unit/libs/api/test_types.py
  backend/tests/unit/libs/email/test_message.py
  backend/tests/unit/libs/security/test_token.py
  backend/tests/unit/services/monitoring/operations/test_health.py
  backend/tests/unit/services/user/operations/test_auth.py
  backend/tests/unit/services/user/operations/test_email.py
  backend/tests/unit/services/user/operations/test_password.py
  backend/tests/unit/services/user/operations/test_user.py
  backend/tests/unit/services/user/templates/test_email_confirmation.py
  backend/tests/unit/services/user/templates/test_reset_password.py
  pyproject.toml
Due: mypy-backend, pylint-backend

Small tests refactor
  backend/tests/integration/services/user/resolvers/test_auth.py
  backend/tests/unit/services/user/operations/test_auth.py
Due: mypy-backend, pylint-backend

Last tests renaming
  backend/tests/integration/api/graphql/test_router.py
  backend/tests/integration/libs/db/test_crud.py
  backend/tests/unit/libs/db/test_crud.py
  backend/tests/unit/libs/security/test_password.py
  backend/tests/unit/libs/security/test_token.py
Due: mypy-backend, pylint-backend

Reorganize frontend layouts and rename tests
  backend/tests/integration/libs/db/test_crud.py
  backend/tests/unit/api/test_deps.py
  backend/tests/unit/libs/api/test_headers.py
  backend/tests/unit/libs/email/test_message.py
  backend/tests/unit/services/monitoring/operations/test_health.py
  backend/tests/unit/services/user/operations/test_auth.py
  backend/tests/unit/services/user/operations/test_user.py
  frontend/src/routes/(anonymous)/(anonymous-only)/layout.tsx
  frontend/src/routes/(anonymous)/(anonymous-only)/login/index.tsx
  frontend/src/routes/(anonymous)/(anonymous-only)/login/login-form.tsx
  frontend/src/routes/(anonymous)/(anonymous-only)/recover-password/index.tsx
  frontend/src/routes/(anonymous)/(anonymous-only)/recover-password/recover-password-form.tsx
  frontend/src/routes/(anonymous)/(anonymous-only)/register/index.tsx
  frontend/src/routes/(anonymous)/(anonymous-only)/register/register-form.tsx
  frontend/src/routes/(anonymous)/404.tsx
  frontend/src/routes/(anonymous)/confirm-email/index.tsx
  frontend/src/routes/(anonymous)/index.tsx
  frontend/src/routes/(anonymous)/reset-password/index.tsx
  frontend/src/routes/(anonymous)/reset-password/reset-password-form.tsx
  frontend/src/routes/(protected)/account/change-password-form.tsx
  frontend/src/routes/(protected)/account/index.tsx
  frontend/src/routes/(protected)/account/update-account-form.tsx
  frontend/src/routes/(protected)/dashboard/index.tsx
  frontend/src/routes/(protected)/layout.tsx
  frontend/src/services/auth/on-anonymous-only-route.ts
Due: mypy-backend, pylint-backend

Create auth layout
  frontend/src/routes/(anonymous)/(auth)/(anonymous-only)/layout.tsx
  frontend/src/routes/(anonymous)/(auth)/(anonymous-only)/login/index.tsx
  frontend/src/routes/(anonymous)/(auth)/(anonymous-only)/login/login-form.tsx
  frontend/src/routes/(anonymous)/(auth)/(anonymous-only)/recover-password/index.tsx
  frontend/src/routes/(anonymous)/(auth)/(anonymous-only)/recover-password/recover-password-form.tsx
  frontend/src/routes/(anonymous)/(auth)/(anonymous-only)/register/index.tsx
  frontend/src/routes/(anonymous)/(auth)/(anonymous-only)/register/register-form.tsx
  frontend/src/routes/(anonymous)/(auth)/confirm-email/index.tsx
  frontend/src/routes/(anonymous)/(auth)/reset-password/index.tsx
  frontend/src/routes/(anonymous)/(auth)/reset-password/reset-password-form.tsx
Due: none

Small refactor
  backend/backend/libs/db/crud.py
  backend/backend/services/user/operations/auth.py
  backend/backend/services/user/operations/user.py
  backend/backend/services/user/resolvers/user.py
  backend/tests/integration/libs/db/test_crud.py
  backend/tests/unit/helpers/user.py
  backend/tests/unit/services/user/operations/test_user.py
  backend/tests/unit/stubs/crud/base.py
Due: mypy-backend, pylint-backend

Small func simplifying
  backend/tests/integration/helpers/user.py
  backend/tests/unit/helpers/user.py
Due: mypy-backend, pylint-backend

Make tests more focused
  frontend/src/components/text-input/text-input.test.tsx
  frontend/src/components/text-input/text-input.tsx
  frontend/src/components/title-head/title-head.test.tsx
Due: none

Change func name to be more descriptive
  backend/backend/services/user/operations/auth.py
Due: mypy-backend, pylint-backend

Extract forms
  frontend/src/components/change-password-form/change-password-form.tsx
  frontend/src/components/login-form/login-form.tsx
  frontend/src/components/recover-password-form/recover-password-form.tsx
  frontend/src/components/register-form/register-form.tsx
  frontend/src/components/reset-password-form/reset-password-form.tsx
  frontend/src/components/update-account-form/update-account-form.tsx
  frontend/src/libs/api/has-problems.test.ts
  frontend/src/libs/api/has-problems.ts
  frontend/src/libs/api/is-problem-present.test.ts
  frontend/src/routes/(anonymous)/(auth)/(anonymous-only)/login/index.tsx
  frontend/src/routes/(anonymous)/(auth)/(anonymous-only)/recover-password/index.tsx
  frontend/src/routes/(anonymous)/(auth)/(anonymous-only)/recover-password/recover-password-form.tsx
  frontend/src/routes/(anonymous)/(auth)/(anonymous-only)/register/index.tsx
  frontend/src/routes/(anonymous)/(auth)/confirm-email/index.tsx
  frontend/src/routes/(anonymous)/(auth)/reset-password/index.tsx
  frontend/src/routes/(anonymous)/(auth)/reset-password/reset-password-form.tsx
  frontend/src/routes/(protected)/account/change-password-form.tsx
  frontend/src/routes/(protected)/account/index.tsx
Due: none

Upgrade vite
  frontend/package.json
  frontend/yarn.lock
Due: none

Change Redis naming to cache
  compose.e2e.yaml
  compose.test.yaml
  compose.yaml
  infrastructure/resources/cache.py
Due: mypy-infrastructure, pylint-infrastructure

Upgrade yarn
  .env.e2e
  .env.template
  .env.test
  compose.e2e.yaml
  compose.yaml
  e2e/.gitignore
  e2e/Dockerfile
  e2e/package.json
  e2e/yarn.lock
  frontend/.gitignore
  frontend/Dockerfile
  frontend/package.json
  frontend/yarn.lock
Due: none

Fix frontend
  .github/workflows/lint.yaml
  .github/workflows/preview-infrastructure.yaml
  .pre-commit-config.yaml
  compose.e2e.yaml
  compose.yaml
  e2e/.dockerignore
  e2e/.gitignore
  e2e/.yarnrc.yml
  e2e/Dockerfile
  e2e/package.json
  e2e/yarn.lock
  frontend/.dockerignore
  frontend/.gitignore
  frontend/.yarnrc.yml
  frontend/Dockerfile
  frontend/package.json
  frontend/src/components/change-password-form/change-password-form.tsx
  frontend/src/components/login-form/login-form.tsx
  frontend/src/components/recover-password-form/recover-password-form.tsx
  frontend/src/components/register-form/register-form.tsx
  frontend/src/components/reset-password-form/reset-password-form.tsx
  frontend/src/components/update-account-form/update-account-form.tsx
  frontend/src/routes/(anonymous)/404.tsx
  frontend/yarn.lock
Due: none

Add fix-me to e2e
  e2e/.yarnrc.yml
Due: none

Update backend deps
  backend/poetry.lock
  backend/pyproject.toml
Due: none

Update pre-commit
  .pre-commit-config.yaml
Due: none

Make e2e use yarn pnp
  Makefile
  compose.e2e.yaml
  e2e/.dockerignore
  e2e/.gitignore
  e2e/.yarnrc.yml
  e2e/Dockerfile
  frontend/.yarnrc.yml
  frontend/yarn.lock
Due: none

Small improvements
  .pre-commit-config.yaml
  frontend/src/root.tsx
Due: none

Remove python from pre-commit hash
  .github/workflows/lint.yaml
Due: none

Refactor tests
  backend/tests/integration/services/user/resolvers/test_auth.py
  backend/tests/integration/services/user/resolvers/test_email.py
  backend/tests/integration/services/user/resolvers/test_password.py
  backend/tests/integration/services/user/resolvers/test_user.py
  backend/tests/unit/libs/api/test_types.py
  pyproject.toml
Due: mypy-backend, pylint-backend

Add tests for unauthorized user
  backend/tests/integration/libs/db/test_crud.py
  backend/tests/integration/services/user/resolvers/test_password.py
  backend/tests/integration/services/user/resolvers/test_user.py
  backend/tests/unit/libs/api/test_types.py
Due: mypy-backend, pylint-backend

Revert tests
  backend/tests/integration/services/user/resolvers/test_password.py
  backend/tests/integration/services/user/resolvers/test_user.py
Due: mypy-backend, pylint-backend

Ignore errror
  frontend/src/root.tsx
Due: none

Init form tests
  frontend/i18n/en-US/validation.json
  frontend/src/components/change-password-form/change-password-form.tsx
  frontend/src/components/register-form/register-form.test.tsx
  frontend/src/components/register-form/register-form.tsx
  frontend/src/components/reset-password-form/reset-password-form.tsx
  frontend/src/components/text-input/text-input.test.tsx
  frontend/src/components/title-head/title-head.test.tsx
  frontend/src/tests/input.ts
Due: none

Group frontend tests
  frontend/src/components/register-form/register-form.test.tsx
  frontend/src/components/text-input/text-input.test.tsx
  frontend/src/components/title-head/title-head.test.tsx
  frontend/src/libs/api/has-problems.test.ts
  frontend/src/libs/api/is-problem-present.test.ts
  frontend/src/libs/api/send-graphql-authenticated-request.test.ts
  frontend/src/libs/api/send-graphql-request.test.ts
  frontend/src/services/requests/get-client-graphql-api-url.test.ts
  frontend/src/services/requests/get-server-graphql-api-url.test.ts
  frontend/src/services/user/check-token-validity.test.ts
  frontend/src/services/user/get-auth-header.test.ts
  frontend/src/services/user/get-me.test.ts
  frontend/src/services/user/is-authenticated.test.ts
  frontend/src/services/user/login.test.ts
  frontend/src/services/user/refresh-token.test.ts
Due: none

Test login form
  frontend/src/components/login-form/login-form.test.tsx
  frontend/src/components/login-form/login-form.tsx
  frontend/src/components/register-form/register-form.test.tsx
Due: none

Test change password form
  frontend/src/components/change-password-form/change-password-form.test.tsx
  frontend/src/components/change-password-form/change-password-form.tsx
  frontend/src/components/login-form/login-form.test.tsx
  frontend/src/components/register-form/register-form.test.tsx
  frontend/src/components/register-form/register-form.tsx
  frontend/src/components/reset-password-form/reset-password-form.tsx
Due: none

Rename components
  frontend/src/components/change-password-form/change-password-form.test.tsx
  frontend/src/components/change-password-form/change-password-form.tsx
  frontend/src/components/login-form/login-form.test.tsx
  frontend/src/components/register-form/register-form.test.tsx
Due: none

Path conditions:
  mypy-backend: any of: ^backend/ and \.py$
  mypy-infrastructure: any of: ^infrastructure/ and \.py$
  pylint-backend: any of: ^backend/ and \.py$
  pylint-infrastructure: any of: ^infrastructure/ and \.py$
  eslint-frontend: any of: ^frontend/ and \.(js|mjs|cjs)$ and \.jsx$ and \.(ts|mts|cts)$ and \.tsx$
